:root {
    --section-overlay: rgba(0,0,0,0.7);
    --bG-overlay: rgba(0,0,0,0.2);
}
.sectionDesc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
    padding: 1rem;
    border-radius: 0.4rem;
}
.descCardIcon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 12px;
}
.descCardIcon small {
    text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
    .sectionDesc {
        grid-template-columns: 1fr 1fr;
    }
}